:root {
  --tds-color-arbitrary-blue-1: #f1fbfd; /* Subtlest shade of blue. */
  --tds-color-arbitrary-blue-2: #c6ecfb; /* Subtler shade of blue. */
  --tds-color-arbitrary-blue-3: #4097fc; /* Subtle shade of blue. */
  --tds-color-arbitrary-blue-4: #0f39cb; /* Bold shade of blue. */
  --tds-color-arbitrary-teal-1: #eefdf4; /* Subtlest shade of teal. */
  --tds-color-arbitrary-teal-2: #8afcc2; /* Subtler shade of teal. */
  --tds-color-arbitrary-teal-3: #00a875; /* Subtle shade of teal. */
  --tds-color-arbitrary-teal-4: #025439; /* Bold shade of teal. */
  --tds-color-arbitrary-green-1: #f0fdeb; /* Subtlest shade of green. */
  --tds-color-arbitrary-green-2: #9dfc86; /* Subtler shade of green. */
  --tds-color-arbitrary-green-3: #08ab00; /* Subtle shade of green. */
  --tds-color-arbitrary-green-4: #045601; /* Bold shade of green. */
  --tds-color-arbitrary-yellow-1: #fdf9ed; /* Subtlest shade of yellow. */
  --tds-color-arbitrary-yellow-2: #fde388; /* Subtler shade of yellow. */
  --tds-color-arbitrary-yellow-3: #b58d00; /* Subtle shade of yellow. */
  --tds-color-arbitrary-yellow-4: #614300; /* Bold shade of yellow. */
  --tds-color-arbitrary-orange-1: #fff8f0; /* Subtlest shade of orange. */
  --tds-color-arbitrary-orange-2: #ffdfba; /* Subtler shade of orange. */
  --tds-color-arbitrary-orange-3: #ec691a; /* Subtle shade of orange. */
  --tds-color-arbitrary-orange-4: #922909; /* Bold shade of orange. */
  --tds-color-arbitrary-red-1: #f7e8e4; /* Subtlest shade of red. */
  --tds-color-arbitrary-red-2: #fbdfd9; /* Subtler shade of red. */
  --tds-color-arbitrary-red-3: #f30624; /* Subtle shade of red. */
  --tds-color-arbitrary-red-4: #930412; /* Bold shade of red. */
  --tds-color-arbitrary-magenta-1: #fdf8f9; /* Subtlest shade of magenta. */
  --tds-color-arbitrary-magenta-2: #fbdee3; /* Subtler shade of magenta. */
  --tds-color-arbitrary-magenta-3: #fe5085; /* Subtle shade of magenta. */
  --tds-color-arbitrary-magenta-4: #91023d; /* Bold shade of magenta. */
  --tds-color-arbitrary-lime-1: #f3fdde; /* Subtlest shade of lime. */
  --tds-color-arbitrary-lime-2: #bdf761; /* Subtler shade of lime. */
  --tds-color-arbitrary-lime-3: #72a101; /* Subtle shade of lime. */
  --tds-color-arbitrary-lime-4: #395000; /* Bold shade of lime. */
  --tds-color-arbitrary-purple-1: #fbf9fc; /* Subtlest shade of purple. */
  --tds-color-arbitrary-purple-2: #ede1f6; /* Subtler shade of purple. */
  --tds-color-arbitrary-purple-3: #b27bec; /* Subtle shade of purple. */
  --tds-color-arbitrary-purple-4: #5d2ca8; /* Bold shade of purple. */
  --tds-color-arbitrary-cyan-1: #f1fbfd; /* Subtlest shade of cyan. */
  --tds-color-arbitrary-cyan-2: #aff1fb; /* Subtler shade of cyan. */
  --tds-color-arbitrary-cyan-3: #00a3b9; /* Subtle shade of cyan. */
  --tds-color-arbitrary-cyan-4: #06515e; /* Bold shade of cyan. */
  --tds-color-arbitrary-neutral-1: #f6f6f6ff; /* Subtlest shade of neutral. */
  --tds-color-arbitrary-neutral-2: #e5e5e5; /* Subtler shade of neutral. */
  --tds-color-arbitrary-neutral-3: #818181; /* Subtle shade of neutral. */
  --tds-color-arbitrary-neutral-4: #595959; /* Bold shade of neutral. */
  --tds-color-data-categorial-1: #2264fb;
  --tds-color-data-categorial-2: #fdce00;
  --tds-color-data-categorial-3: #d3045c;
  --tds-color-data-categorial-4: #00d691;
  --tds-color-data-categorial-5: #8b4cdc;
  --tds-color-data-categorial-6: #00d0ec;
  --tds-color-data-categorial-7: #9de90e;
  --tds-color-data-categorial-8: #ff45ae;
  --tds-color-data-diverging-positive-plain: #08ab00; /* Plain positive diverging color. */
  --tds-color-data-diverging-positive-gradient: linear-gradient(180deg, #05da00 0%, #08ab00 100%);
  --tds-color-data-diverging-neutral-plain: #fdce00; /* Plain neutral diverging color. */
  --tds-color-data-diverging-neutral-gradient: linear-gradient(180deg, #fdce00 0%, #dfb600 100%);
  --tds-color-data-diverging-negative-plain: #d4001c; /* Plain negative diverging color. */
  --tds-color-data-diverging-negative-gradient: linear-gradient(180deg, #ff473d 0%, #d4001c 100%);
  --tds-color-data-optimizer-plain: #4097fc; /* Plain optimizer color. */
  --tds-color-data-optimizer-gradient: linear-gradient(180deg, #4097fc 0%, #2264fb 100%);
  --tds-color-data-neutral-primary-plain: #ec691a; /* Primary neutral color for charts or data that cannot be positive or negative. */
  --tds-color-data-neutral-primary-gradient: linear-gradient(180deg, #f6a564 0%, #ec691a 100%);
  --tds-color-data-neutral-secondary-plain: #595959; /* Secondary neutral color for charts or data that cannot be positive or negative. */
  --tds-color-data-neutral-secondary-gradient: linear-gradient(180deg, #5c5c5c 0%, #353535 100%);
  --tds-color-surface-elevation-0-default: #f6f6f6ff; /* Use as the primary background for the UI. */
  --tds-color-surface-elevation-0-hover: #f1f1f1; /* Hover color for surface elevation 0. */
  --tds-color-surface-elevation-0-press: #e5e5e5; /* Press color for surface elevation 0. */
  --tds-color-surface-elevation-1-default: #ffffffff; /* Use for the background of elements that rests immidietly on top of surface elevation 0, such as cards. */
  --tds-color-surface-elevation-1-hover: #f6f6f6ff; /* Hover color for surface elevation 1 opaque. */
  --tds-color-surface-elevation-1-press: #e5e5e5; /* Press color for surface elevation 1 opaque. */
  --tds-color-surface-elevation-2-default: #ffffffff; /* Use for the background of elements that sit on top of they UI, such as modals, dialogs, dropdown menus, etc. */
  --tds-color-surface-elevation-2-hover: #f6f6f6ff; /* Hover color for surface elevation 2 opaque. */
  --tds-color-surface-elevation-2-press: #e5e5e5; /* Press color for surface elevation 2 opaque. */
  --tds-color-surface-neutral-default: #1919190f; /* The default surface for neutral elements, such as secondary buttons. */
  --tds-color-surface-neutral-hover: #19191914; /* Hover color for surface neutral */
  --tds-color-surface-neutral-press: #1919191f; /* Press color for surface neutral */
  --tds-color-surface-neutral-subtle-default: #19191900; /* Use for the surfaces of elements that appear to have no background in a resting state, such as tertiary buttons and menu items. */
  --tds-color-surface-neutral-subtle-hover: #1919190a; /* Hover state for surface neutral-subtle. */
  --tds-color-surface-neutral-subtle-press: #19191914; /* Press state for surface neutral-subtle. */
  --tds-color-surface-danger-default: #d4001c; /* A vibrant surface option for communicating critical information, such as in danger buttons and error banners. */
  --tds-color-surface-danger-hover: #b30017; /* Hover color for surface danger. */
  --tds-color-surface-danger-press: #930412; /* Press color for surface danger. */
  --tds-color-surface-selected-subtle-default: #ffeed9; /* Use for the surfaces of elements in a selected state. */
  --tds-color-surface-selected-subtle-hover: #ffdfba; /* Hover color for surface selected subtle. */
  --tds-color-surface-selected-subtle-press: #f5b26b; /* Press color for surface selected subtle. */
  --tds-color-surface-selected-strong-default: #ec691a; /* Use for the surfaces of elements in a selected state. */
  --tds-color-surface-selected-strong-hover: #c53f13; /* Hover color for surface selected strong. */
  --tds-color-surface-selected-strong-press: #922909; /* Press color for surface selected strong. */
  --tds-color-surface-inverse-default: #1f1f1f; /* Use to create high-contrast moments. */
  --tds-color-surface-inverse-hover: #353535; /* Hover color for surface inverse. */
  --tds-color-surface-inverse-press: #595959; /* Press color for surface inverse. */
  --tds-color-surface-brand-default: #ec691a; /* Use for the surface of elements used to reinforce our brand. */
  --tds-color-surface-brand-hover: #d9550b; /* Hover color for surface brand. */
  --tds-color-surface-brand-press: #c53f13; /* Press color for surface brand. */
  --tds-color-surface-disabled: #1919190a; /* Use for surfaces of elements in a disabled state. */
  --tds-color-surface-dark: #282828; /* Use for surfaces that has to be dark in both light and dark mode. */
  --tds-color-stroke-subtle: #1919191f; /* Use to visually group or separate UI elements. */
  --tds-color-stroke-strong: #1919194d; /* A neutral border option that passes min 3:1 contrast ratios. */
  --tds-color-stroke-selected: #ec691a; /* Use for borders or visual indicators of elements in a selected or opened state, such as in tabs or menu items. */
  --tds-color-stroke-inverse: #f6f6f6ff; /* Use for borders on bold backgrounds. */
  --tds-color-stroke-focus: #ec691a; /* Use for focus rings of elements in a focus state. */
  --tds-color-stroke-disabled: #1919191f; /* Use for borders of elements in a disabled state. */
  --tds-color-content-primary: #1f1f1f; /* Use for primary text, such as body copy, sentence case headers, and buttons. */
  --tds-color-content-secondary: #5c5c5c; /* Use for secondary text, such as navigation, subtle button links, input field labels, and all caps subheadings. */
  --tds-color-content-placeholder: #bbbbbb; /* Use for placeholder text in input fields. */
  --tds-color-content-on-color: #ffffffff; /* Use for text on a colored background. */
  --tds-color-content-helper: #818181; /* Use for tertiary text, such as meta-data, breadcrumbs and helper text. */
  --tds-color-content-brand: #ec691a; /* Use for text that reinforces our brand. */
  --tds-color-content-selected: #ec691a; /* Use for text in selected or opened states, such as tabs. */
  --tds-color-content-error: #d4001c; /* Use for critical text, such as input field error messaging */
  --tds-color-content-warning: #dfb600; /* Use for critical text, such as input field error messaging */
  --tds-color-content-success: #027f00; /* Use for critical text, such as input field error messaging */
  --tds-color-content-info: #0f39cb; /* Use for critical text, such as input field error messaging */
  --tds-color-content-inverse: #ffffffff; /* Use for text on inverse backgrounds. */
  --tds-color-content-disabled: #1919194d; /* Use for text in a disabled state. */
  --tds-color-skeleton-element: #1919190f; /* Use for skeleton loading states */
  --tds-color-skeleton-shimmer: #1919190a; /* Use for the pulse or shimmer effect in skeleton loading states. */
  --tds-color-miscellaneous-overlay: #00000080; /* Use for the screen overlay that appears with modal dialogs. */
  --tds-color-interaction-hover: #1919191f; /* Use as a background overlay for elements in a hovered state when their background color cannot change, such as avatars. */
  --tds-color-interaction-press: #1919194d; /* Use as a background overlay for elements in a pressed state when their background color cannot change, such as avatars. */
  --tds-radius-xs: 0.25rem; /* Used for small elements like checkboxes, etc. */
  --tds-radius-sm: 0.5rem; /* Used for our main ui elements like buttons, etc. */
  --tds-radius-md: 0.75rem; /* Used mainly for containers like cards or dialogs */
  --tds-radius-lg: 1rem; /* Used mainly for containers like sheets or large dialogs */
  --tds-radius-full: 62.4375rem; /* Used for pill-shaped ui elements */
  --tds-radius-buttons-and-controls: 0.75rem; /* Use for buttons, chips, search input */
  --tds-radius-input: 0.75rem; /* Use for all input containers except search. */
  --tds-radius-popovers: 0.75rem; /* Use for menus, and popover elements when interacting with input elements. */
  --tds-radius-cards-sm: 1rem; /* Cards that don't take up the entire width of the device. Less than 360px. */
  --tds-radius-cards-lg: 1.25rem; /* Cards that take up the entire width of the device or more than 360px. */
  --tds-radius-sheets-and-dialogs: 1.5rem; /* Use for sheets, dialogs, pickers. */
  --tds-spacing-xs: 0.25rem;
  --tds-spacing-sm: 0.5rem;
  --tds-spacing-md: 0.75rem;
  --tds-spacing-lg: 1rem;
  --tds-spacing-xl: 1.25rem;
  --tds-spacing-2xl: 1.5rem;
  --tds-spacing-3xl: 1.75rem;
  --tds-spacing-4xl: 2rem;
  --tds-spacing-5xl: 2.25rem;
  --tds-spacing-6xl: 2.5rem;
  --tds-spacing-7xl: 3rem;
  --tds-spacing-8xl: 3.5rem;
  --tds-spacing-9xl: 4rem;
  --tds-spacing-10xl: 6rem;
  --tds-spacing-11xl: 8rem;
  --tds-spacing-horizontal-between-cards: 0.75rem; /* Cards are self contained blocks of content. In product these can be placed next to one another and scroll off screen. */
  --tds-spacing-horizontal-between-chips: 0.5rem; /* Chips allow us to filter content and are typically placed next to one another and scroll off screen. */
  --tds-spacing-horizontal-screen-margin-mobile: 1rem; /* This is the overarching spacing that contains our mobile designs. */
  --tds-spacing-horizontal-component-default: 1rem; /* When there are no other specific spacing tokens for components, use component default. */
  --tds-spacing-vertical-between-text: 0.5rem; /* Text is any copy that isn’t using a display style. It’s built into our text styles, but you’ll need to add it in when they’re not in the same block of content. */
  --tds-spacing-vertical-image-bottom: 0.5rem; /* Sometimes graphics and images require a little bit of extra breathing room. */
  --tds-spacing-vertical-text-to-component: 1rem; /* This refers to any text style that isn’t using a display style to any component. */
  --tds-spacing-vertical-content-to-button: 1.5rem; /* When a button is displayed directly below the content or form and not in a footer. */
  --tds-spacing-vertical-between-sections: 2rem; /* Sections are groups of content that we need stronger proximity between so that it’s evident they’re separate. */
  --tds-spacing-vertical-within-sections: 1.5rem; /* Use within a section that can be considered to have sub-sections rather than multiple individual sections. */
  --tds-spacing-vertical-label-to-container: 0.5rem; /* Between the label of an input component to the component container. */
  --tds-spacing-vertical-between-list-items: 0rem; /* Spacing is built in to all list item components due to the large touch area. This means spacing between options is set to 0px by default. */
  --tds-spacing-vertical-component-default: 1rem; /* When there are no other specific component spacing tokens, use component default. */
  --tds-stroke-weight-standard: 0.0625rem; /* Used for ui elements like inputs, dividers, etc. */
  --tds-stroke-weight-highlight: 0.1875rem; /* Use for active menu items and tabs */
  --tds-stroke-weight-module: 0.5rem; /* Use for module dividers. */
  --tds-window-size-sm: 40rem; /* Phones in portait */
  --tds-window-size-md: 48rem; /* Tablet in portrait. Foldable in portrait (unfolded) */
  --tds-window-size-lg: 64rem; /* Phone in landscape. Tablet in landscape. Foldable in landscape (unfolded). Desktop */
  --tds-window-size-xl: 80rem; /* Laptop. */
  --tds-window-size-2xl: 96rem; /* Laptop. Desktop. Ultra-wide. */
  --tds-opacity-disabled: 0.4;
  --tds-opacity-loading: 0.2;
  --tds-radius-scaling-container: 0.25; /* This tokens is used to caluclate the proper radius of elements that maintain the same proportions at different sizes. */
  --tds-text-style-label-xs:
    500 0.75rem/1.4 Inter, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --tds-text-style-label-sm:
    500 0.875rem/1.4 Inter, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --tds-text-style-label-md:
    500 1rem/1.24 Inter, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --tds-text-style-label-lg:
    500 1.125rem/1.4 Inter, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --tds-text-style-body-xs:
    400 0.75rem/1.4 Inter, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --tds-text-style-body-sm:
    400 0.875rem/1.4 Inter, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --tds-text-style-body-md:
    400 1rem/1.4 Inter, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
  --tds-text-style-heading-xs:
    600 1.125rem/1.4 Inter Tight, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --tds-text-style-heading-sm:
    600 1.5rem/1.4 Inter Tight, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --tds-text-style-heading-md:
    600 1.75rem/1.24 Inter Tight, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --tds-text-style-heading-lg:
    600 2.25rem/1.24 Inter Tight, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --tds-text-style-display-2xs:
    700 0.875rem/1.4 Oswald, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --tds-text-style-display-xs:
    700 1rem/1.24 Oswald, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --tds-text-style-display-sm:
    700 1.125rem/1.4 Oswald, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --tds-text-style-display-md:
    700 1.5rem/1.4 Oswald, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --tds-text-style-display-lg:
    700 1.75rem/1.24 Oswald, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --tds-text-style-display-xl:
    700 2.25rem/1.24 Oswald, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --tds-text-style-display-2xl:
    700 3rem/1 Oswald, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
  --tds-text-style-display-3xl:
    700 3.75rem/1 Oswald, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --tds-text-style-display-4xl:
    700 5.25rem/1 Oswald, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --tds-text-style-display-5xl:
    700 9.75rem/1 Oswald, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --tds-text-style-display-6xl:
    700 21rem/1 Oswald, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";

  --tds-primitives-typography-letter-spacing-default: 0em;
  --tds-primitives-typography-letter-spacing-compact: -0.005em;
  --tds-primitives-typography-letter-spacing-compressed: -0.02em;
}

[data-mode="dark"] {
  --tds-color-arbitrary-blue-1: #0f1053; /* Subtlest shade of blue. */
  --tds-color-arbitrary-blue-2: #0d25a0; /* Subtler shade of blue. */
  --tds-color-arbitrary-blue-3: #2264fb; /* Subtle shade of blue. */
  --tds-color-arbitrary-blue-4: #a9dcfb; /* Bold shade of blue. */
  --tds-color-arbitrary-teal-1: #051e15; /* Subtlest shade of teal. */
  --tds-color-arbitrary-teal-2: #023d2a; /* Subtler shade of teal. */
  --tds-color-arbitrary-teal-3: #007d56; /* Subtle shade of teal. */
  --tds-color-arbitrary-teal-4: #31f1a5; /* Bold shade of teal. */
  --tds-color-arbitrary-green-1: #0e1d05; /* Subtlest shade of green. */
  --tds-color-arbitrary-green-2: #063e02; /* Subtler shade of green. */
  --tds-color-arbitrary-green-3: #027f00; /* Subtle shade of green. */
  --tds-color-arbitrary-green-4: #43f42f; /* Bold shade of green. */
  --tds-color-arbitrary-yellow-1: #241703; /* Subtlest shade of yellow. */
  --tds-color-arbitrary-yellow-2: #482f00; /* Subtler shade of yellow. */
  --tds-color-arbitrary-yellow-3: #8a6600; /* Subtle shade of yellow. */
  --tds-color-arbitrary-yellow-4: #fdce00; /* Bold shade of yellow. */
  --tds-color-arbitrary-orange-1: #2a1307; /* Subtlest shade of orange. */
  --tds-color-arbitrary-orange-2: #5f1e08; /* Subtler shade of orange. */
  --tds-color-arbitrary-orange-3: #c53f13; /* Subtle shade of orange. */
  --tds-color-arbitrary-orange-4: #f5b26b; /* Bold shade of orange. */
  --tds-color-arbitrary-red-1: #300f05; /* Subtlest shade of red. */
  --tds-color-arbitrary-red-2: #6d0409; /* Subtler shade of red. */
  --tds-color-arbitrary-red-3: #d4001c; /* Subtle shade of red. */
  --tds-color-arbitrary-red-4: #ffc7bb; /* Bold shade of red. */
  --tds-color-arbitrary-magenta-1: #340912; /* Subtlest shade of magenta. */
  --tds-color-arbitrary-magenta-2: #6c032a; /* Subtler shade of magenta. */
  --tds-color-arbitrary-magenta-3: #d3045c; /* Subtle shade of magenta. */
  --tds-color-arbitrary-magenta-4: #fcc6d0; /* Bold shade of magenta. */
  --tds-color-arbitrary-lime-1: #191b04; /* Subtlest shade of lime. */
  --tds-color-arbitrary-lime-2: #2b3a00; /* Subtler shade of lime. */
  --tds-color-arbitrary-lime-3: #547700; /* Subtle shade of lime. */
  --tds-color-arbitrary-lime-4: #9de90e; /* Bold shade of lime. */
  --tds-color-arbitrary-purple-1: #23094c; /* Subtlest shade of purple. */
  --tds-color-arbitrary-purple-2: #44188a; /* Subtler shade of purple. */
  --tds-color-arbitrary-purple-3: #8b4cdc; /* Subtle shade of purple. */
  --tds-color-arbitrary-purple-4: #e4ccf8; /* Bold shade of purple. */
  --tds-color-arbitrary-cyan-1: #061d23; /* Subtlest shade of cyan. */
  --tds-color-arbitrary-cyan-2: #053b45; /* Subtler shade of cyan. */
  --tds-color-arbitrary-cyan-3: #00798c; /* Subtle shade of cyan. */
  --tds-color-arbitrary-cyan-4: #4be9ff; /* Bold shade of cyan. */
  --tds-color-arbitrary-neutral-1: #1f1f1f; /* Subtlest shade of neutral. */
  --tds-color-arbitrary-neutral-2: #353535; /* Subtler shade of neutral. */
  --tds-color-arbitrary-neutral-3: #5c5c5c; /* Subtle shade of neutral. */
  --tds-color-arbitrary-neutral-4: #d4d4d4; /* Bold shade of neutral. */
  --tds-color-data-categorial-1: #2264fb;
  --tds-color-data-categorial-2: #fdce00;
  --tds-color-data-categorial-3: #d3045c;
  --tds-color-data-categorial-4: #00d691;
  --tds-color-data-categorial-5: #8b4cdc;
  --tds-color-data-categorial-6: #00d0ec;
  --tds-color-data-categorial-7: #9de90e;
  --tds-color-data-categorial-8: #ff45ae;
  --tds-color-data-diverging-positive-plain: #08ab00; /* Plain positive diverging color. */
  --tds-color-data-diverging-neutral-plain: #fdce00; /* Plain neutral diverging color. */
  --tds-color-data-diverging-negative-plain: #ff473d; /* Plain negative diverging color. */
  --tds-color-data-optimizer-plain: #4097fc; /* Plain optimizer color. */
  --tds-color-data-neutral-primary-plain: #ec691a; /* Primary neutral color for charts or data that cannot be positive or negative. */
  --tds-color-data-neutral-secondary-plain: #595959; /* Secondary neutral color for charts or data that cannot be positive or negative. */
  --tds-color-surface-elevation-0-default: #191919ff; /* Use as the primary background for the UI. */
  --tds-color-surface-elevation-0-hover: #1f1f1f; /* Hover color for surface elevation 0. */
  --tds-color-surface-elevation-0-press: #282828; /* Press color for surface elevation 0. */
  --tds-color-surface-elevation-1-default: #1f1f1f; /* Use for the background of elements that rests immidietly on top of surface elevation 0, such as cards. */
  --tds-color-surface-elevation-1-hover: #282828; /* Hover color for surface elevation 1 opaque. */
  --tds-color-surface-elevation-1-press: #353535; /* Press color for surface elevation 1 opaque. */
  --tds-color-surface-elevation-2-default: #282828; /* Use for the background of elements that sit on top of they UI, such as modals, dialogs, dropdown menus, etc. */
  --tds-color-surface-elevation-2-hover: #353535; /* Hover color for surface elevation 2 opaque. */
  --tds-color-surface-elevation-2-press: #595959; /* Press color for surface elevation 2 opaque. */
  --tds-color-surface-neutral-default: #f6f6f60f; /* The default surface for neutral elements, such as secondary buttons. */
  --tds-color-surface-neutral-hover: #f6f6f614; /* Hover color for surface neutral */
  --tds-color-surface-neutral-press: #f6f6f629; /* Press color for surface neutral */
  --tds-color-surface-neutral-subtle-default: #f6f6f600; /* Use for the surfaces of elements that appear to have no background in a resting state, such as tertiary buttons and menu items. */
  --tds-color-surface-neutral-subtle-hover: #f6f6f60f; /* Hover state for surface neutral-subtle. */
  --tds-color-surface-neutral-subtle-press: #f6f6f61f; /* Press state for surface neutral-subtle. */
  --tds-color-surface-danger-default: #d4001c; /* A vibrant surface option for communicating critical information, such as in danger buttons and error banners. */
  --tds-color-surface-danger-hover: #f30624; /* Hover color for surface danger. */
  --tds-color-surface-danger-press: #ff473d; /* Press color for surface danger. */
  --tds-color-surface-selected-subtle-default: #461908; /* Use for the surfaces of elements in a selected state. */
  --tds-color-surface-selected-subtle-hover: #5f1e08; /* Hover color for surface selected subtle. */
  --tds-color-surface-selected-subtle-press: #922909; /* Press color for surface selected subtle. */
  --tds-color-surface-selected-strong-default: #ec691a; /* Use for the surfaces of elements in a selected state. */
  --tds-color-surface-selected-strong-hover: #f6863b; /* Hover color for surface selected strong. */
  --tds-color-surface-selected-strong-press: #f6a564; /* Press color for surface selected strong. */
  --tds-color-surface-inverse-default: #f6f6f6ff; /* Use to create high-contrast moments. */
  --tds-color-surface-inverse-hover: #e5e5e5; /* Hover color for surface inverse. */
  --tds-color-surface-inverse-press: #d4d4d4; /* Press color for surface inverse. */
  --tds-color-surface-brand-default: #ec691a; /* Use for the surface of elements used to reinforce our brand. */
  --tds-color-surface-brand-hover: #f6863b; /* Hover color for surface brand. */
  --tds-color-surface-brand-press: #f6a564; /* Press color for surface brand. */
  --tds-color-surface-disabled: #f6f6f60f; /* Use for surfaces of elements in a disabled state. */
  --tds-color-surface-dark: #191919ff; /* Use for surfaces that has to be dark in both light and dark mode. */
  --tds-color-stroke-subtle: #f6f6f629; /* Use to visually group or separate UI elements. */
  --tds-color-stroke-strong: #f6f6f652; /* A neutral border option that passes min 3:1 contrast ratios. */
  --tds-color-stroke-selected: #ec691a; /* Use for borders or visual indicators of elements in a selected or opened state, such as in tabs or menu items. */
  --tds-color-stroke-inverse: #1f1f1f; /* Use for borders on bold backgrounds. */
  --tds-color-stroke-focus: #ec691a; /* Use for focus rings of elements in a focus state. */
  --tds-color-stroke-disabled: #f6f6f614; /* Use for borders of elements in a disabled state. */
  --tds-color-content-primary: #f6f6f6ff; /* Use for primary text, such as body copy, sentence case headers, and buttons. */
  --tds-color-content-secondary: #d4d4d4; /* Use for secondary text, such as navigation, subtle button links, input field labels, and all caps subheadings. */
  --tds-color-content-placeholder: #5c5c5c; /* Use for placeholder text in input fields. */
  --tds-color-content-on-color: #ffffffff; /* Use for text on a colored background. */
  --tds-color-content-helper: #818181; /* Use for tertiary text, such as meta-data, breadcrumbs and helper text. */
  --tds-color-content-brand: #ec691a; /* Use for text that reinforces our brand. */
  --tds-color-content-selected: #ec691a; /* Use for text in selected or opened states, such as tabs. */
  --tds-color-content-error: #f30624; /* Use for critical text, such as input field error messaging */
  --tds-color-content-warning: #dfb600; /* Use for critical text, such as input field error messaging */
  --tds-color-content-success: #08ab00; /* Use for critical text, such as input field error messaging */
  --tds-color-content-info: #2264fb; /* Use for critical text, such as input field error messaging */
  --tds-color-content-inverse: #191919ff; /* Use for text on inverse backgrounds. */
  --tds-color-content-disabled: #f6f6f652; /* Use for text in a disabled state. */
  --tds-color-skeleton-element: #f6f6f614; /* Use for skeleton loading states */
  --tds-color-skeleton-shimmer: #f6f6f60f; /* Use for the pulse or shimmer effect in skeleton loading states. */
  --tds-color-miscellaneous-overlay: #00000080; /* Use for the screen overlay that appears with modal dialogs. */
  --tds-color-interaction-hover: #f6f6f629; /* Use as a background overlay for elements in a hovered state when their background color cannot change, such as avatars. */
  --tds-color-interaction-press: #f6f6f652; /* Use as a background overlay for elements in a pressed state when their background color cannot change, such as avatars. */
}

@media (prefers-color-scheme: dark) {
  :root {
    --tds-color-arbitrary-blue-1: #0f1053; /* Subtlest shade of blue. */
    --tds-color-arbitrary-blue-2: #0d25a0; /* Subtler shade of blue. */
    --tds-color-arbitrary-blue-3: #2264fb; /* Subtle shade of blue. */
    --tds-color-arbitrary-blue-4: #a9dcfb; /* Bold shade of blue. */
    --tds-color-arbitrary-teal-1: #051e15; /* Subtlest shade of teal. */
    --tds-color-arbitrary-teal-2: #023d2a; /* Subtler shade of teal. */
    --tds-color-arbitrary-teal-3: #007d56; /* Subtle shade of teal. */
    --tds-color-arbitrary-teal-4: #31f1a5; /* Bold shade of teal. */
    --tds-color-arbitrary-green-1: #0e1d05; /* Subtlest shade of green. */
    --tds-color-arbitrary-green-2: #063e02; /* Subtler shade of green. */
    --tds-color-arbitrary-green-3: #027f00; /* Subtle shade of green. */
    --tds-color-arbitrary-green-4: #43f42f; /* Bold shade of green. */
    --tds-color-arbitrary-yellow-1: #241703; /* Subtlest shade of yellow. */
    --tds-color-arbitrary-yellow-2: #482f00; /* Subtler shade of yellow. */
    --tds-color-arbitrary-yellow-3: #8a6600; /* Subtle shade of yellow. */
    --tds-color-arbitrary-yellow-4: #fdce00; /* Bold shade of yellow. */
    --tds-color-arbitrary-orange-1: #2a1307; /* Subtlest shade of orange. */
    --tds-color-arbitrary-orange-2: #5f1e08; /* Subtler shade of orange. */
    --tds-color-arbitrary-orange-3: #c53f13; /* Subtle shade of orange. */
    --tds-color-arbitrary-orange-4: #f5b26b; /* Bold shade of orange. */
    --tds-color-arbitrary-red-1: #300f05; /* Subtlest shade of red. */
    --tds-color-arbitrary-red-2: #6d0409; /* Subtler shade of red. */
    --tds-color-arbitrary-red-3: #d4001c; /* Subtle shade of red. */
    --tds-color-arbitrary-red-4: #ffc7bb; /* Bold shade of red. */
    --tds-color-arbitrary-magenta-1: #340912; /* Subtlest shade of magenta. */
    --tds-color-arbitrary-magenta-2: #6c032a; /* Subtler shade of magenta. */
    --tds-color-arbitrary-magenta-3: #d3045c; /* Subtle shade of magenta. */
    --tds-color-arbitrary-magenta-4: #fcc6d0; /* Bold shade of magenta. */
    --tds-color-arbitrary-lime-1: #191b04; /* Subtlest shade of lime. */
    --tds-color-arbitrary-lime-2: #2b3a00; /* Subtler shade of lime. */
    --tds-color-arbitrary-lime-3: #547700; /* Subtle shade of lime. */
    --tds-color-arbitrary-lime-4: #9de90e; /* Bold shade of lime. */
    --tds-color-arbitrary-purple-1: #23094c; /* Subtlest shade of purple. */
    --tds-color-arbitrary-purple-2: #44188a; /* Subtler shade of purple. */
    --tds-color-arbitrary-purple-3: #8b4cdc; /* Subtle shade of purple. */
    --tds-color-arbitrary-purple-4: #e4ccf8; /* Bold shade of purple. */
    --tds-color-arbitrary-cyan-1: #061d23; /* Subtlest shade of cyan. */
    --tds-color-arbitrary-cyan-2: #053b45; /* Subtler shade of cyan. */
    --tds-color-arbitrary-cyan-3: #00798c; /* Subtle shade of cyan. */
    --tds-color-arbitrary-cyan-4: #4be9ff; /* Bold shade of cyan. */
    --tds-color-arbitrary-neutral-1: #1f1f1f; /* Subtlest shade of neutral. */
    --tds-color-arbitrary-neutral-2: #353535; /* Subtler shade of neutral. */
    --tds-color-arbitrary-neutral-3: #5c5c5c; /* Subtle shade of neutral. */
    --tds-color-arbitrary-neutral-4: #d4d4d4; /* Bold shade of neutral. */
    --tds-color-data-categorial-1: #2264fb;
    --tds-color-data-categorial-2: #fdce00;
    --tds-color-data-categorial-3: #d3045c;
    --tds-color-data-categorial-4: #00d691;
    --tds-color-data-categorial-5: #8b4cdc;
    --tds-color-data-categorial-6: #00d0ec;
    --tds-color-data-categorial-7: #9de90e;
    --tds-color-data-categorial-8: #ff45ae;
    --tds-color-data-diverging-positive-plain: #08ab00; /* Plain positive diverging color. */
    --tds-color-data-diverging-neutral-plain: #fdce00; /* Plain neutral diverging color. */
    --tds-color-data-diverging-negative-plain: #ff473d; /* Plain negative diverging color. */
    --tds-color-data-optimizer-plain: #4097fc; /* Plain optimizer color. */
    --tds-color-data-neutral-primary-plain: #ec691a; /* Primary neutral color for charts or data that cannot be positive or negative. */
    --tds-color-data-neutral-secondary-plain: #595959; /* Secondary neutral color for charts or data that cannot be positive or negative. */
    --tds-color-surface-elevation-0-default: #191919ff; /* Use as the primary background for the UI. */
    --tds-color-surface-elevation-0-hover: #1f1f1f; /* Hover color for surface elevation 0. */
    --tds-color-surface-elevation-0-press: #282828; /* Press color for surface elevation 0. */
    --tds-color-surface-elevation-1-default: #1f1f1f; /* Use for the background of elements that rests immidietly on top of surface elevation 0, such as cards. */
    --tds-color-surface-elevation-1-hover: #282828; /* Hover color for surface elevation 1 opaque. */
    --tds-color-surface-elevation-1-press: #353535; /* Press color for surface elevation 1 opaque. */
    --tds-color-surface-elevation-2-default: #282828; /* Use for the background of elements that sit on top of they UI, such as modals, dialogs, dropdown menus, etc. */
    --tds-color-surface-elevation-2-hover: #353535; /* Hover color for surface elevation 2 opaque. */
    --tds-color-surface-elevation-2-press: #595959; /* Press color for surface elevation 2 opaque. */
    --tds-color-surface-neutral-default: #f6f6f60f; /* The default surface for neutral elements, such as secondary buttons. */
    --tds-color-surface-neutral-hover: #f6f6f614; /* Hover color for surface neutral */
    --tds-color-surface-neutral-press: #f6f6f629; /* Press color for surface neutral */
    --tds-color-surface-neutral-subtle-default: #f6f6f600; /* Use for the surfaces of elements that appear to have no background in a resting state, such as tertiary buttons and menu items. */
    --tds-color-surface-neutral-subtle-hover: #f6f6f60f; /* Hover state for surface neutral-subtle. */
    --tds-color-surface-neutral-subtle-press: #f6f6f61f; /* Press state for surface neutral-subtle. */
    --tds-color-surface-danger-default: #d4001c; /* A vibrant surface option for communicating critical information, such as in danger buttons and error banners. */
    --tds-color-surface-danger-hover: #f30624; /* Hover color for surface danger. */
    --tds-color-surface-danger-press: #ff473d; /* Press color for surface danger. */
    --tds-color-surface-selected-subtle-default: #461908; /* Use for the surfaces of elements in a selected state. */
    --tds-color-surface-selected-subtle-hover: #5f1e08; /* Hover color for surface selected subtle. */
    --tds-color-surface-selected-subtle-press: #922909; /* Press color for surface selected subtle. */
    --tds-color-surface-selected-strong-default: #ec691a; /* Use for the surfaces of elements in a selected state. */
    --tds-color-surface-selected-strong-hover: #f6863b; /* Hover color for surface selected strong. */
    --tds-color-surface-selected-strong-press: #f6a564; /* Press color for surface selected strong. */
    --tds-color-surface-inverse-default: #f6f6f6ff; /* Use to create high-contrast moments. */
    --tds-color-surface-inverse-hover: #e5e5e5; /* Hover color for surface inverse. */
    --tds-color-surface-inverse-press: #d4d4d4; /* Press color for surface inverse. */
    --tds-color-surface-brand-default: #ec691a; /* Use for the surface of elements used to reinforce our brand. */
    --tds-color-surface-brand-hover: #f6863b; /* Hover color for surface brand. */
    --tds-color-surface-brand-press: #f6a564; /* Press color for surface brand. */
    --tds-color-surface-disabled: #f6f6f60f; /* Use for surfaces of elements in a disabled state. */
    --tds-color-surface-dark: #191919ff; /* Use for surfaces that has to be dark in both light and dark mode. */
    --tds-color-stroke-subtle: #f6f6f629; /* Use to visually group or separate UI elements. */
    --tds-color-stroke-strong: #f6f6f652; /* A neutral border option that passes min 3:1 contrast ratios. */
    --tds-color-stroke-selected: #ec691a; /* Use for borders or visual indicators of elements in a selected or opened state, such as in tabs or menu items. */
    --tds-color-stroke-inverse: #1f1f1f; /* Use for borders on bold backgrounds. */
    --tds-color-stroke-focus: #ec691a; /* Use for focus rings of elements in a focus state. */
    --tds-color-stroke-disabled: #f6f6f614; /* Use for borders of elements in a disabled state. */
    --tds-color-content-primary: #f6f6f6ff; /* Use for primary text, such as body copy, sentence case headers, and buttons. */
    --tds-color-content-secondary: #d4d4d4; /* Use for secondary text, such as navigation, subtle button links, input field labels, and all caps subheadings. */
    --tds-color-content-placeholder: #5c5c5c; /* Use for placeholder text in input fields. */
    --tds-color-content-on-color: #ffffffff; /* Use for text on a colored background. */
    --tds-color-content-helper: #818181; /* Use for tertiary text, such as meta-data, breadcrumbs and helper text. */
    --tds-color-content-brand: #ec691a; /* Use for text that reinforces our brand. */
    --tds-color-content-selected: #ec691a; /* Use for text in selected or opened states, such as tabs. */
    --tds-color-content-error: #f30624; /* Use for critical text, such as input field error messaging */
    --tds-color-content-warning: #dfb600; /* Use for critical text, such as input field error messaging */
    --tds-color-content-success: #08ab00; /* Use for critical text, such as input field error messaging */
    --tds-color-content-info: #2264fb; /* Use for critical text, such as input field error messaging */
    --tds-color-content-inverse: #191919ff; /* Use for text on inverse backgrounds. */
    --tds-color-content-disabled: #f6f6f652; /* Use for text in a disabled state. */
    --tds-color-skeleton-element: #f6f6f614; /* Use for skeleton loading states */
    --tds-color-skeleton-shimmer: #f6f6f60f; /* Use for the pulse or shimmer effect in skeleton loading states. */
    --tds-color-miscellaneous-overlay: #00000080; /* Use for the screen overlay that appears with modal dialogs. */
    --tds-color-interaction-hover: #f6f6f629; /* Use as a background overlay for elements in a hovered state when their background color cannot change, such as avatars. */
    --tds-color-interaction-press: #f6f6f652; /* Use as a background overlay for elements in a pressed state when their background color cannot change, such as avatars. */
  }

  [data-mode="light"] {
    --tds-color-arbitrary-blue-1: #f1fbfd; /* Subtlest shade of blue. */
    --tds-color-arbitrary-blue-2: #c6ecfb; /* Subtler shade of blue. */
    --tds-color-arbitrary-blue-3: #4097fc; /* Subtle shade of blue. */
    --tds-color-arbitrary-blue-4: #0f39cb; /* Bold shade of blue. */
    --tds-color-arbitrary-teal-1: #eefdf4; /* Subtlest shade of teal. */
    --tds-color-arbitrary-teal-2: #8afcc2; /* Subtler shade of teal. */
    --tds-color-arbitrary-teal-3: #00a875; /* Subtle shade of teal. */
    --tds-color-arbitrary-teal-4: #025439; /* Bold shade of teal. */
    --tds-color-arbitrary-green-1: #f0fdeb; /* Subtlest shade of green. */
    --tds-color-arbitrary-green-2: #9dfc86; /* Subtler shade of green. */
    --tds-color-arbitrary-green-3: #08ab00; /* Subtle shade of green. */
    --tds-color-arbitrary-green-4: #045601; /* Bold shade of green. */
    --tds-color-arbitrary-yellow-1: #fdf9ed; /* Subtlest shade of yellow. */
    --tds-color-arbitrary-yellow-2: #fde388; /* Subtler shade of yellow. */
    --tds-color-arbitrary-yellow-3: #b58d00; /* Subtle shade of yellow. */
    --tds-color-arbitrary-yellow-4: #614300; /* Bold shade of yellow. */
    --tds-color-arbitrary-orange-1: #fff8f0; /* Subtlest shade of orange. */
    --tds-color-arbitrary-orange-2: #ffdfba; /* Subtler shade of orange. */
    --tds-color-arbitrary-orange-3: #ec691a; /* Subtle shade of orange. */
    --tds-color-arbitrary-orange-4: #922909; /* Bold shade of orange. */
    --tds-color-arbitrary-red-1: #f7e8e4; /* Subtlest shade of red. */
    --tds-color-arbitrary-red-2: #fbdfd9; /* Subtler shade of red. */
    --tds-color-arbitrary-red-3: #f30624; /* Subtle shade of red. */
    --tds-color-arbitrary-red-4: #930412; /* Bold shade of red. */
    --tds-color-arbitrary-magenta-1: #fdf8f9; /* Subtlest shade of magenta. */
    --tds-color-arbitrary-magenta-2: #fbdee3; /* Subtler shade of magenta. */
    --tds-color-arbitrary-magenta-3: #fe5085; /* Subtle shade of magenta. */
    --tds-color-arbitrary-magenta-4: #91023d; /* Bold shade of magenta. */
    --tds-color-arbitrary-lime-1: #f3fdde; /* Subtlest shade of lime. */
    --tds-color-arbitrary-lime-2: #bdf761; /* Subtler shade of lime. */
    --tds-color-arbitrary-lime-3: #72a101; /* Subtle shade of lime. */
    --tds-color-arbitrary-lime-4: #395000; /* Bold shade of lime. */
    --tds-color-arbitrary-purple-1: #fbf9fc; /* Subtlest shade of purple. */
    --tds-color-arbitrary-purple-2: #ede1f6; /* Subtler shade of purple. */
    --tds-color-arbitrary-purple-3: #b27bec; /* Subtle shade of purple. */
    --tds-color-arbitrary-purple-4: #5d2ca8; /* Bold shade of purple. */
    --tds-color-arbitrary-cyan-1: #f1fbfd; /* Subtlest shade of cyan. */
    --tds-color-arbitrary-cyan-2: #aff1fb; /* Subtler shade of cyan. */
    --tds-color-arbitrary-cyan-3: #00a3b9; /* Subtle shade of cyan. */
    --tds-color-arbitrary-cyan-4: #06515e; /* Bold shade of cyan. */
    --tds-color-arbitrary-neutral-1: #f6f6f6ff; /* Subtlest shade of neutral. */
    --tds-color-arbitrary-neutral-2: #e5e5e5; /* Subtler shade of neutral. */
    --tds-color-arbitrary-neutral-3: #818181; /* Subtle shade of neutral. */
    --tds-color-arbitrary-neutral-4: #595959; /* Bold shade of neutral. */
    --tds-color-data-categorial-1: #2264fb;
    --tds-color-data-categorial-2: #fdce00;
    --tds-color-data-categorial-3: #d3045c;
    --tds-color-data-categorial-4: #00d691;
    --tds-color-data-categorial-5: #8b4cdc;
    --tds-color-data-categorial-6: #00d0ec;
    --tds-color-data-categorial-7: #9de90e;
    --tds-color-data-categorial-8: #ff45ae;
    --tds-color-data-diverging-positive-plain: #08ab00; /* Plain positive diverging color. */
    --tds-color-data-diverging-positive-gradient: linear-gradient(180deg, #05da00 0%, #08ab00 100%);
    --tds-color-data-diverging-neutral-plain: #fdce00; /* Plain neutral diverging color. */
    --tds-color-data-diverging-neutral-gradient: linear-gradient(180deg, #fdce00 0%, #dfb600 100%);
    --tds-color-data-diverging-negative-plain: #d4001c; /* Plain negative diverging color. */
    --tds-color-data-diverging-negative-gradient: linear-gradient(180deg, #ff473d 0%, #d4001c 100%);
    --tds-color-data-optimizer-plain: #4097fc; /* Plain optimizer color. */
    --tds-color-data-optimizer-gradient: linear-gradient(180deg, #4097fc 0%, #2264fb 100%);
    --tds-color-data-neutral-primary-plain: #ec691a; /* Primary neutral color for charts or data that cannot be positive or negative. */
    --tds-color-data-neutral-primary-gradient: linear-gradient(180deg, #f6a564 0%, #ec691a 100%);
    --tds-color-data-neutral-secondary-plain: #595959; /* Secondary neutral color for charts or data that cannot be positive or negative. */
    --tds-color-data-neutral-secondary-gradient: linear-gradient(180deg, #5c5c5c 0%, #353535 100%);
    --tds-color-surface-elevation-0-default: #f6f6f6ff; /* Use as the primary background for the UI. */
    --tds-color-surface-elevation-0-hover: #f1f1f1; /* Hover color for surface elevation 0. */
    --tds-color-surface-elevation-0-press: #e5e5e5; /* Press color for surface elevation 0. */
    --tds-color-surface-elevation-1-default: #ffffffff; /* Use for the background of elements that rests immidietly on top of surface elevation 0, such as cards. */
    --tds-color-surface-elevation-1-hover: #f6f6f6ff; /* Hover color for surface elevation 1 opaque. */
    --tds-color-surface-elevation-1-press: #e5e5e5; /* Press color for surface elevation 1 opaque. */
    --tds-color-surface-elevation-2-default: #ffffffff; /* Use for the background of elements that sit on top of they UI, such as modals, dialogs, dropdown menus, etc. */
    --tds-color-surface-elevation-2-hover: #f6f6f6ff; /* Hover color for surface elevation 2 opaque. */
    --tds-color-surface-elevation-2-press: #e5e5e5; /* Press color for surface elevation 2 opaque. */
    --tds-color-surface-neutral-default: #1919190f; /* The default surface for neutral elements, such as secondary buttons. */
    --tds-color-surface-neutral-hover: #19191914; /* Hover color for surface neutral */
    --tds-color-surface-neutral-press: #1919191f; /* Press color for surface neutral */
    --tds-color-surface-neutral-subtle-default: #19191900; /* Use for the surfaces of elements that appear to have no background in a resting state, such as tertiary buttons and menu items. */
    --tds-color-surface-neutral-subtle-hover: #1919190a; /* Hover state for surface neutral-subtle. */
    --tds-color-surface-neutral-subtle-press: #19191914; /* Press state for surface neutral-subtle. */
    --tds-color-surface-danger-default: #d4001c; /* A vibrant surface option for communicating critical information, such as in danger buttons and error banners. */
    --tds-color-surface-danger-hover: #b30017; /* Hover color for surface danger. */
    --tds-color-surface-danger-press: #930412; /* Press color for surface danger. */
    --tds-color-surface-selected-subtle-default: #ffeed9; /* Use for the surfaces of elements in a selected state. */
    --tds-color-surface-selected-subtle-hover: #ffdfba; /* Hover color for surface selected subtle. */
    --tds-color-surface-selected-subtle-press: #f5b26b; /* Press color for surface selected subtle. */
    --tds-color-surface-selected-strong-default: #ec691a; /* Use for the surfaces of elements in a selected state. */
    --tds-color-surface-selected-strong-hover: #c53f13; /* Hover color for surface selected strong. */
    --tds-color-surface-selected-strong-press: #922909; /* Press color for surface selected strong. */
    --tds-color-surface-inverse-default: #1f1f1f; /* Use to create high-contrast moments. */
    --tds-color-surface-inverse-hover: #353535; /* Hover color for surface inverse. */
    --tds-color-surface-inverse-press: #595959; /* Press color for surface inverse. */
    --tds-color-surface-brand-default: #ec691a; /* Use for the surface of elements used to reinforce our brand. */
    --tds-color-surface-brand-hover: #d9550b; /* Hover color for surface brand. */
    --tds-color-surface-brand-press: #c53f13; /* Press color for surface brand. */
    --tds-color-surface-disabled: #1919190a; /* Use for surfaces of elements in a disabled state. */
    --tds-color-surface-dark: #282828; /* Use for surfaces that has to be dark in both light and dark mode. */
    --tds-color-stroke-subtle: #1919191f; /* Use to visually group or separate UI elements. */
    --tds-color-stroke-strong: #1919194d; /* A neutral border option that passes min 3:1 contrast ratios. */
    --tds-color-stroke-selected: #ec691a; /* Use for borders or visual indicators of elements in a selected or opened state, such as in tabs or menu items. */
    --tds-color-stroke-inverse: #f6f6f6ff; /* Use for borders on bold backgrounds. */
    --tds-color-stroke-focus: #ec691a; /* Use for focus rings of elements in a focus state. */
    --tds-color-stroke-disabled: #1919191f; /* Use for borders of elements in a disabled state. */
    --tds-color-content-primary: #1f1f1f; /* Use for primary text, such as body copy, sentence case headers, and buttons. */
    --tds-color-content-secondary: #5c5c5c; /* Use for secondary text, such as navigation, subtle button links, input field labels, and all caps subheadings. */
    --tds-color-content-placeholder: #bbbbbb; /* Use for placeholder text in input fields. */
    --tds-color-content-on-color: #ffffffff; /* Use for text on a colored background. */
    --tds-color-content-helper: #818181; /* Use for tertiary text, such as meta-data, breadcrumbs and helper text. */
    --tds-color-content-brand: #ec691a; /* Use for text that reinforces our brand. */
    --tds-color-content-selected: #ec691a; /* Use for text in selected or opened states, such as tabs. */
    --tds-color-content-error: #d4001c; /* Use for critical text, such as input field error messaging */
    --tds-color-content-warning: #dfb600; /* Use for critical text, such as input field error messaging */
    --tds-color-content-success: #027f00; /* Use for critical text, such as input field error messaging */
    --tds-color-content-info: #0f39cb; /* Use for critical text, such as input field error messaging */
    --tds-color-content-inverse: #ffffffff; /* Use for text on inverse backgrounds. */
    --tds-color-content-disabled: #1919194d; /* Use for text in a disabled state. */
    --tds-color-skeleton-element: #1919190f; /* Use for skeleton loading states */
    --tds-color-skeleton-shimmer: #1919190a; /* Use for the pulse or shimmer effect in skeleton loading states. */
    --tds-color-miscellaneous-overlay: #00000080; /* Use for the screen overlay that appears with modal dialogs. */
    --tds-color-interaction-hover: #1919191f; /* Use as a background overlay for elements in a hovered state when their background color cannot change, such as avatars. */
    --tds-color-interaction-press: #1919194d; /* Use as a background overlay for elements in a pressed state when their background color cannot change, such as avatars. */
  }
}
